# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
venv/
.env

# ==========================
# Django
# ==========================
db.sqlite3
*.sqlite3
*.db
staticfiles/
media/
*.pyc

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
.DS_Store

# ==========================
# Misc / stray files
# ==========================
postgres
old_lms_data.sql