```gitignore
# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
venv/
.env


# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/


old_lms_data.sql