/* ==========================
   HERO
========================== */

.hero{

    min-height:88vh;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    align-items:center;

    gap:70px;

    padding:60px 8%;

}

.hero-content{

    animation:slideLeft .9s ease;

}

.badge{

    display:inline-flex;

    align-items:center;

    gap:8px;

    padding:10px 20px;

    background:rgba(255,255,255,.08);

    border:1px solid var(--border);

    border-radius:50px;

    color:var(--gold);

    font-weight:600;

    margin-bottom:25px;

}

.hero h1{

    font-size:4rem;

    line-height:1.15;

    margin-bottom:25px;

}

.hero p{

    color:var(--muted);

    line-height:1.8;

    font-size:1.08rem;

    margin-bottom:35px;

    max-width:620px;

}

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

/* ==========================
   HERO IMAGE
========================== */

.hero-image{

    display:flex;

    justify-content:center;

    align-items:center;

    animation:slideRight .9s ease;

}

.hero-icon{

    font-size:12rem;

    color:var(--gold);

    padding:70px;

    border-radius:50%;

    background:rgba(255,255,255,.05);

    border:1px solid var(--border);

    backdrop-filter:blur(20px);

    box-shadow:var(--shadow);

    animation:float 5s ease-in-out infinite;

}
